body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    min-width: 350px;
    background-color: black;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: white;
}

label[for="auto-submit-checkbox"] {
    color: white;
    font-size: 12px; 
    margin-right: 8px; 
}

#sync-last-submission-button {
    background-color: #007bff;
    width: 90%;
    max-width: 500px; 
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
}

#sync-last-20-submissions-button {
    background-color: #007bff;
    width: 90%;
    max-width: 500px; 
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
}

#settings-button {
    position: absolute;
    width: 40px; 
    height: 30px; 
    top: 5px;
    right: 2%;
    cursor: pointer;
}

#settings-button img {
    width: 100%; 
    height: 100%; 
    display: block; 
}

#update-config-button {
    background-color: #007bff;
    width: 90%;
    max-width: 350px; 
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;

}

#message {
    width: 90%;
    max-width: 500px; 
    margin: 10px auto;
    padding: 10px;
    background-color: lightgrey;
    
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px; 
    box-sizing: border-box;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    button {
        font-size: 0.9em;
    }

    .modal-content {
        width: 95%;
    }
}